<div class="container-servicos">
  <h2>Explore as soluções de Engineering, AI & Data</h2>
  <div class="cards-grid">
    @for (item of servicos; track $index) {
      <div class="card" (click)="abrirModal(item)">
        <h3>{{ item.nome }}</h3>
        <p>{{ item.descricao }}</p>
      </div>
    } @empty {
      <div class="no-items">
        <p>Nenhum serviço encontrado.</p>
      </div>
    }
  </div>
</div>

<app-modal-info
  *ngIf="modalAberto"
  [item]="itemSelecionado"
  (closed)="fecharModal()">
</app-modal-info>