<header class="deloitte-header">
  <div class="container">
    <a href="" class="logo" aria-label="Página inicial Deloitte">
      <img src="deloitte-white.png" alt="Deloitte" />
    </a>
    <div class="right-group">
      <nav class="main-nav" [class.open]="showMenu">
        <ul>
          <li><a href="{{redirect}}" >{{pageOne}}</a></li>
          <li><a href="">Agenda</a></li>
          <li class="logado">{{name}}</li>

        </ul>
      </nav>
      <a href="#" class="language" (click)="logout()">LogOut</a>
      <button class="menu-mobile" (click)="toggleMenu()" aria-label="Abrir menu">&#9776;</button>
    </div>
  </div>
</header>