<div class="container">
  <div class="servicos-lista">
    @for (item of servicos; track item.id) {
      <div class="servico-card">
        <div class="servico-header">
          <h3>{{ item.nome }}</h3>
        </div>
        <div class="servico-body">
          <p>{{ item.descricao }}</p>
          <p>Duração: {{ item.duracaoEmMinutos }} min</p>
        </div>
        <div class="servico-actions">
          <button class="btn-excluir" (click)="excluir(item.id)">Excluir</button>
          <button class="btn btn-secondary" (click)="abrirModalEditar(item)">Editar</button>
        </div>
      
      </div>
     

    }
  </div>

  <div class="adicionar-servico">
    <button class="btn-adicionar" (click)="abrirModal()">Adicionar Serviço</button>
  </div>
</div>

<app-modal-servico 
  [visivel]="modalAberto"
  (fechar)="fecharModal()"
  [name]="'Criar Serviço'" 
  (salvarEvento)="salvar($event)"
  [modo]="'criar'">
</app-modal-servico>

<app-modal-servico 
  [visivel]="modalEditarAberto"
  (fechar)="fecharModalEditar()"
  [name]="'Editar Serviço'"
  [servicoEditar]="servicoSelecionado"
  (submitir)="editarServico($event, servicoSelecionado!.id)"
  [modo]="'editar'">
</app-modal-servico>


 