<div class="container">
  <div class="servicos-lista">
    @for (item of servicos; track $index) {
      <div class="servico-card">
        <div class="servico-header">
          <h3>{{ item.nome }}</h3>
        </div>
        <div class="servico-body">
          <p>{{ item.descricao }}</p>
          <p>Duração: {{ item.duracaoEmMinutos }} min</p>
        </div>
        <div class="servico-actions">
          <button class="btn-excluir" (click)="excluir(item.id)">Excluir</button>
          <button class="btn btn-secondary" (click)="abrirModalEditar()">Editar</button>
        </div>
      
      </div>
       <app-modal-servico [visivel]="modalEditarAberto"
       (fechar)="fecharModalEditar()"
        [name]="'Editar Serviço'"
        [servicoEditar]="item"></app-modal-servico>
    }
  </div>

  <div class="adicionar-servico">
    <button class="btn-adicionar" (click)="abrirModal()">Adicionar Serviço</button>
  </div>
</div>

<app-modal-servico [visivel]="modalAberto"
  (fechar)="fecharModal()"
  [name]="'Criar Serviço'" 
  (salvarEvento)="salvar($event)"></app-modal-servico>

 